@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #6A5ACD;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #6A5ACD;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6A5ACD;
    color: #FFF;
    border: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #483D8B;
}

.input-section p {
    color: #483D8B;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.counter-section {
    margin-top: 20px;
}

#contador {
    font-size: 20px;
    font-weight: bold;
    color: #6A5ACD;
}